html {
    background: #000428;
     background: linear-gradient(200deg, #004e92, #01073f);
     background: linear-gradient(200deg, #004e92, #01073f);
     height: 160%;
     width: 100%;

}

.header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    color: white;
    flex-wrap: wrap;
}

#level {
    font-size: 50px;
}


.color-container {

    position: relative;
    border-radius: 50%;
    margin: 10vh auto;
    padding: 30px;
    width: 80vh;
    max-width: 400px;
    height: 90vh;
    max-height: 400px;
    background: #2c2139;
    background: rgba(0, 0, 0, 0.2);
    font-size: initial;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}


#green {
    background-color: green;
    color: white;
        border-radius: 20px 20px 320px 20px;
        width: 200px;
        height: 200px;
        text-align: center;
        line-height: 130px;
        font-size: 20px;
        padding-left: 5px; 
        padding-right: 10px;
}
#green:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#blue {
    background-color: blue;
    color: white;
    border-radius:20px 20px 20px 320px;
    width: 200px;
    height: 200px;
    line-height: 130px;
    font-size: 20px;
    padding-left: 20px;
 
}
#blue:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#red {
    background-color: red;
    color: white;
    border-radius:320px 20px 20px;
    width: 200px;
    height: 200px;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 40px;;
    line-height: 130px;
}
#red:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#yellow {
    background-color: yellow;
    color: black;
    border-radius: 20px 320px 20px 20px;
    width: 200px;
    height: 200px;
    font-size: 20px;
    line-height: 230px;
    padding-left: 5px;
}
#yellow:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.simon-background {
    position: relative;
    border-radius: 50%;
    margin: 10vh auto;
    padding: 30px;
    width: 80vh;
    max-width: 400px;
    height: 90vh;
    max-height: 400px;
    background: #2c2139;
    background: rgba(0, 0, 0, 0.2);
    font-size: initial;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-start{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px 30px;

}

#start {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    height: 100px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
}

#restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; 
    height: 50px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.colordisplay {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    margin: 50px auto;
}


.high {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    color: white;
    flex-direction: column;
    font-size: 25px;
    margin-left: -150px;
    padding-left: 150px;
}

.Phillip {
    text-align: right;
    color: White;
    font-size: 20px;
}